<form id = "updateform" method = "POST" action = "#">
<label>name: </label><input id = "name" name = "name" type = "text" value = "<%=note[:name]%>"></input><br/>
<label>text: </label><textarea id = "text" name = "text" type = "text" ><%=note[:text]%></textarea>
<input type = "submit" value = "submit"></input>
</form>
